.form-label {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.sub-section {
    margin-bottom: 1%;
}

.download-button {
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

.select-dataset-button {
    margin-top: 1rem;
}

.back-button {
    margin-top: 1rem;
}

.run-cards-section {
    height: 60vh;
    overflow-y: scroll;
}

p {
    margin-top: 1rem !important;
}

.nav-section {
    justify-content: left;
    display: flex;
    position: absolute;
    bottom: 2vh;
}